@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "ComicRelief", sans-serif;
  background-image: url("./assets/images/background.webp");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body.modal-open {
  overflow: hidden;
  padding-right: 0.5rem;
}

@font-face {
  font-family: "ComicRelief";
  src: url("./assets/fonts/ComicRelief-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap; /* <-- Important */
}

@font-face {
  font-family: "ComicRelief";
  src: url("./assets/fonts/ComicRelief-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap; /* <-- Important */
}

/* Utility class for applying ComicRelief font */
.font-comic {
  font-family: "ComicRelief", sans-serif;
}

@theme {
  /* Backgrounds */
  --color-bg-orange: #ef7a2b;
  --color-bg-article: #eeeeee;

  /* Text */
  --color-text-dark: #3e2a2a;
  --color-text-light: #eeeeee;
  --color-text-tips: #2c7d7a;

  /* Focus */
  --color-focus-primary: #ef7a2b;
  --color-focus-secondary: #3a9d9a;

  /* Buttons - Primary */
  --color-button-shadow-primary: #d35400;
  --color-button-bg-hover-primary: #3a9d9a;
  --color-button-border-hover-primary: #2c7d7a;
  --color-button-shadow-hover-primary: #2c7d7a;
}

@keyframes fadeIn {
  from {
    opacity: 0.9;
    filter: blur(1px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.btn-style {
  @apply inline-block w-56 mt-7 text-center text-[var(--color-text-light)] text-lg font-semibold
         bg-[var(--color-bg-orange)] border border-[#daa34b] rounded-md cursor-pointer
         px-5 py-2 shadow-[0px_6px_0px_#d35400]
         hover:bg-[var(--color-button-bg-hover-primary)] 
         hover:border-[#2e7d7a] 
         hover:shadow-[0px_6px_0px_#2e7d7a]
         active:shadow-[0px_2px_0px_#2e7d7a]
         active:relative active:top-[2px]
         transition-all duration-200;
}

.btn-green {
  @apply inline-block w-56 mt-7 text-center text-[var(--color-text-light)] text-lg font-semibold
         bg-[#3a9d9a]  
         border-[#2e7d7a] 
         rounded-md cursor-pointer
         px-5 py-2
         shadow-[0px_6px_0px_#2e7d7a]
         hover:bg-[#36a1a1]  
         hover:border-[#2e7d7a] 
         hover:shadow-[0px_6px_0px_#2e7d7a]
         active:shadow-[0px_2px_0px_#2e7d7a]
         active:relative active:top-[2px]
         transition-all duration-200;
}

.swiper-button-prev,
.swiper-button-next {
  color: #2c7d7a !important;
  transition: color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #1e5c59 !important;
}
